[Unit]
Description=uWSGI instance to serve flask based API
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/photobooth/flask/api
Environment="PATH=/opt/photobooth/flask/apienv/bin"
ExecStart=/opt/photobooth/flask/apienv/bin/uwsgi --ini api.ini

[Install]
WantedBy=multi-user.target
