[Unit]
Description=LED Panel
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/opt/photobooth/python/gpio_led.py boot

[Install]
WantedBy=basic.target
