[Unit]
Description=Photobooth Boot
DefaultDependencies=no
After=local-fs.target

[Service]
Type=simple
ExecStart=/opt/photobooth/bin/boot.sh

[Install]
WantedBy=sysinit.target
