[Unit]
Description=MQTT Launcher
Requires=mosquitto.service
After=mosquitto.service

[Service]
Type=simple
Environment=MQTTLAUNCHERCONFIG=/opt/mqtt-launcher/launcher.photobooth.conf
ExecStart=/usr/bin/python3 /opt/mqtt-launcher/mqtt-launcher.py
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=30
StartLimitInterval=10
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
