[Unit]
Description=NoDogSplash Captive Portal
Requires=hostapd.service
After=hostapd.service

[Service]
Type=forking
ExecStart=/usr/bin/nodogsplash $OPTIONS
Restart=on-failure

[Install]
WantedBy=multi-user.target
