[Unit]
Description=RaspAP daemon
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash /etc/raspap/hostapd/servicestart.sh --interface uap0 --seconds 3

[Install]
WantedBy=graphical.target
